$txtHero: #FF4D00; //Cor texto do hero
$colorF: #fff;
$corBtnP: #A020F0; // Roxo Vibrante (cor de fundo do botão)

//======================BARRA DE INFORMAÇÃO==================================================>

$cDPurple: #6a0dad; //barra de informação
$cDPink: #b5179e;   //barra de informação
$eventoName: #39FF14; //Cor Hover button

//======================= BACKGROUND ============================================================
$noite05: #9B4BFF;
$noite1: #FF4DD2;
$shows: #C0143C;
$social: #FF6F00;