@use 'components/fonts' as f;
@use 'components/variable' as v;
@use 'hero';
@use 'components/infos';
@use 'event';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: f.$font-text;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}